output_folder           ../results/Inceptionv3/1536-prefetch_lru
is_simulation           1



is_inception            1
batch_size              1536
input_H                 299
input_W                 299
num_iteration           2
num_threads             128

nn_model_input_file     ../frontend/Nets/Inceptionv3.txt
orig_kernel_time_file   ../results/Inceptionv3/cudnn1536.txt
pf_kernel_time_file     ../results/Inceptionv3/cudnn1536PF.txt
input_pf_kernel_time_file ../results/Inceptionv3/cudnn1536InputPF.txt
workspace_size_file       ../results/Inceptionv3/cudnn1536Workspace.txt
stat_output_file        sim_result
is_UVM                  1
use_prefetch            1
eviction_policy         LRU


system_latency_us       45

CPU_PCIe_bandwidth_GBps 15.754
CPU_memory_line_GB      128

GPU_memory_size_GB      40
GPU_frequency_GHz       1.2
GPU_PCIe_bandwidth_GBps 15.754
GPU_malloc_uspB         0.000000814
GPU_free_uspB           0

SSD_PCIe_bandwidth_GBps 3.2
SSD_read_latency_us     12
SSD_write_latency_us    16
SSD_latency_us          20

PCIe_latency_us         5
PCIe_batch_size_page    50

delta_parameter         0.5


